<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="nav">
            <div class="logo">
                <a href="../index.html"><img src="../img/logo-auto.png" alt=""></a>
            </div>
            <div class="nav-list">
                <ul>
                    <li><a href="voiture.html">Nos voitures</a></li>
                    <li><a href="#">Nos voitures sportives</a></li>
                    <li><a href="moto.html">Nos Motos</a></li>
                    <li><a href="#">Nos Motos sportives</a></li>
                </ul>
            </div>
        </div>

        <div class="coordonees">
            <div class="adresse">
                <img src="../img/logo-adresse.png" alt="maison">
                <p> 199 rue du jardin de tulipes , 75000</p>
            </div>
            <div class="telephone">
                <img src="../img/logo-telephone.png" alt="telephone">
                <p>01.02.03.04.05</p>
            </div>
        </div>
    </header>
    <main>
        
    <h1>NOS VOITURES</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit voluptas velit commodi veritatis eaque aperiam adipisci neque repellat corporis maxime deleniti odio autem, similique eveniet mollitia dolores, ab alias deserunt?</p>
                            <!-- PAGE VIDE  -->
    </main>

    <footer>
        <ul>
            <li><a href="">Mentions légales</a> </li>
            <li><a href="">Cookies</a></li>
            <li><a href="">Forums</a></li>
            <li><a href="">Partenaires</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </footer>
    





</body>
</html>